<form action="/show" method="post" accept-charset="utf-8">
  <input name="title" value="" placeholder="Title">*
  <input name="venue" value="" placeholder="Venue name">*
  <input name="venue_url" value="" placeholder="Venue URL">
  <textarea name="description" placeholder="description"></textarea>
  <input type="text" id="datetimefield" name="date_and_time">
  <input type="submit" name="submit" value="Create Show">
</form>