<section class="done-box">
  <a  href="javascript:parent.jQuery.fancybox.close();parent.location.reload();">
    <h1>Done!</h1>
    <img src="/img/comment_check.png" alt="Symbol Check">
  </a>
</section>
