This is the index Page.

<section>
  <h1>Sign Up</h1>
  <form action="email" method="post" accept-charset="utf-8">
    <input name="address" value="" placeholder="email@address.com">
    <input type="submit" name="submit" value="Sign Up">
  </form>
</section>