<html>
<head>
  <link rel="stylesheet" href="/css/style.css">
  <style type="text/css" media="screen">
    .done-box a {
      display: block;
      color: black;
      text-decoration: none;
    }
    
    .done-box a:hover {
      color: black;
      text-decoration: none;
    }
    
    .done-box section {
      text-align: center;
      width: 100%;
      height: 100%;
    }
    
    .done-box a {
      text-align: center;
      width: 100%;
      height: 100%;
    }
    
  </style>
</head>
<body>
  <%= yield %>
</body>