<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="/css/base.css">
  <link rel="stylesheet" href="/css/anytime.c.css">
  <link rel="stylesheet" href="/css/rte.css">
</head>
<body>
  <%= yield %>
  
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="/js/libs/jquery-1.7.2.min.js"><\/script>');</script>
  <script src="/js/libs/anytime.js"></script>
  <script type="text/javascript" src="/js/libs/fancybox/source/jquery.fancybox.pack.js?v=2.0.6"></script>
  <script src="/js/libs/jquery.simpleValidate.min.js"></script>
  <script src="/js/libs/jquery.rte.min.js"></script>
  <script src="/js/script.js"></script>
  <script type="text/javascript" src="http://use.typekit.com/kbw7lvh.js"></script>
  <script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  
</body>