<h3>Please Sign In</h3>
<form action="/admin" method="post" accept-charset="utf-8">
  <input name="username" value="" placeholder="username">
  <input type="password" name="password" value="" placeholder="password">
  <input type="submit" name="submit" value="Sign In">
</form>